

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  --color-theme: rgba(255, 255, 255, 0.87);
  --background-color-theme: #001827;
  --color-theme-800:rgb(1 39 62 / 85%);
  --color-theme-300: rgb(10 32 46);
  --border-color:#ffffff05;
  --color-primary: #009bff;
  --bg-header-color:rgb(0 24 39 / 85%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body{
  background: var(--background-color-theme);
  color: var(--color-theme);
  font-family: 'Outfit', sans-serif;
}
a {
  font-weight: 500;
  color: var(--color-theme);
  opacity: 0.9;
  text-decoration: inherit;
}
a:hover {
  opacity: 1;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  grid-template-rows: auto 1fr auto;

  flex-direction: column;
  align-items: center;
  
  height: 100%;
  min-height: 100vh;

  gap: 3rem;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: 'Outfit', sans-serif;
}
h1,h3,h4,h5{
  font-weight: 600;
}
button {
  display: flex;
  gap: .4rem;
  align-items: center;
  border-radius: 1.5rem;
  border: 0;
  padding: 0.6em 1.2em;
  height: 2.6rem;
  font-size: clamp(.9rem,2vw,1rem);
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-theme-800);
  cursor: pointer;
  transition: border-color 0.25s;
}
button svg{
  opacity: 0.7;
}
.primary{
  font-weight: 600;
  color: white;
  background: var(--color-primary);
}
.secondary{
  font-weight: 600;
  color: white;
  background: #F2BD1D;
}
button:hover {
  border-color: #d3d3d37d;
}
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
::-webkit-scrollbar{
  width: 0;
  height: 0;
}


@media (min-width: 768px){

  ::-webkit-scrollbar{
    width: .2rem;
    
  }
  ::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.192);
  border-radius: 4rem;
}

  
}

@media (prefers-color-scheme: light) {
  :root {
    --color-theme: #242627;
    --background-color-theme: #ffffff;
    --color-theme-800: rgb(169 178 191 / 18%);
    --color-theme-300:rgb(247 247 248);
    --border-color:#00000005;
    --bg-header-color: rgb(255 255 255 / 80%);
  }
 body{
  color: var(--color-theme);
 }

 ::-webkit-scrollbar-thumb{
  background: rgba(0, 0, 0, 0.192);

}


}
