.animation{
    animation: transition 500ms ease-in;
}
.animation_slide_left{
    opacity: 0;
    animation: transition 500ms, translateleft 400ms;
    animation-delay: 200ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.animation_slide_right{
    opacity: 0;
    animation: transition 300ms, translateright 400ms;
    animation-delay: 200ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.animation_slide_up{
    opacity: 0;
    animation: transition 500ms, translateup 400ms;
    animation-delay: 200ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    
}
@keyframes transition {
    
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes translateleft {
    from{
        transform: translate(30px);
    }
    to{
        transform: translate(0);
    }
}
@keyframes translateright {
    from{
        transform: translate(-30px);
    }
    to{
        transform: translate(0);
    }
}
@keyframes translateup {
    from{
        transform: translate(0,30px);
    }
    to{
        transform: translate(0,0);
    }
}